<!DOCTYPE html>
<html>
<head>
<title>数据字典类别</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../../static/css/test/style.css" >


<script src="../../../static/libs/jquery.min.js"></script>
<script src="../../../static/plugins/layer/layer.js"></script>
<script src="../../../static/libs/bootstrap.min.js"></script>
<script src="../../../static/libs/vue.min.js"></script>
<script src="../../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../../static/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
				<a class="btn btn-info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<a class="btn btn-info" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
				<a class="btn btn-info" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				<a class="btn btn-info" @click="back"><i class="fa fa-reply"></i>&nbsp;返回</a>
				
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
     
   	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">字典名称</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dictionary.name" placeholder="字典名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">字典编码</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dictionary.code" placeholder="字典编码" />
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">字典序号</div>
			   	<div class="col-sm-10">
			      <input type="number" class="form-control" v-model="dictionary.orderNum" placeholder="序号" />
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备注</div>
			   	<div class="col-sm-10">
			      <input type="text" class="form-control" v-model="dictionary.remark" placeholder="备注"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../../static/js/modules/sys/dict.js"></script>
</body>
</html>