<!DOCTYPE html>
<html>
<head>
<title>收货人</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../../static/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="../../../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../../../static/css/fieldsetstyle.css">
<link rel="stylesheet" href="../../../../static/plugins/laydate/theme/default/laydate.css"></script>

<script src="../../../../static/libs/jquery.min.js"></script>
<script src="../../../../static/plugins/layer/layer.js"></script>
<script src="../../../../static/plugins/laydate/laydate.js"></script>
<script src="../../../../static/libs/bootstrap.min.js"></script>
<script src="../../../../static/libs/bootstrapValidator.min.js"></script>
<script src="../../../../static/libs/vue.min.js"></script>
<script src="../../../../static/libs/validator.min.js"></script>
<script src="../../../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../../../static/js/common.js"></script>
<script src="../../../../static/libs/jquery-migrate-1.1.0.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div style=" margin-bottom: 20px;">
					<a  class="btn btn-info" style="margin-right: 20px;" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
					<a  class="btn btn-warning" style="margin-right: 20px;" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
					<a  class="btn btn-danger" style="margin-right: 20px;" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
					<a  class="btn btn-info" style="margin-right: 20px;" @click="back"><i class="fa fa-reply"></i>&nbsp;返回</a>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">收货人列表</div>
	        <div class="panel-body">
			    <table id="jqGrid"></table>
			    <div id="jqGridPager"></div>
			</div>
		</div>
    </div>
     
   	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" id="consigneeForm"  style="margin-top: 20px;" onkeydown="if(event.keyCode==13){return false;}">
			<div class="form-group">
			   	<div class="col-sm-1 control-label">收货人名称</div>
			   	<div class="col-sm-5">
			      <input type="text" class="form-control" id="consigneeName" name= "consigneeName" v-model="consignee.consigneeName" placeholder="收货人名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-1 control-label">收货人电话</div>
			   	<div class="col-sm-5">
			      <input type="text" class="form-control" id="consigneeMobile" name= "consigneeMobile"   v-model="consignee.consigneeMobile" placeholder="收货人电话" />
			    </div>
			</div>
			
			<div class="form-group">
			   	<div class="col-sm-1 control-label">收货人地址</div>
			   	<div class="col-sm-5">
			      <input type="text" class="form-control"id="consigneeAddress" name= "consigneeAddress"   v-model="consignee.consigneeAddress" placeholder="收货人地址" />
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-1 control-label">备注</div>
			   	<div class="col-sm-5">
			      <input type="textarea" class="form-control" v-model="consignee.remark" placeholder="备注" />
			    </div>
			</div>
			
			
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>
<script src="../../../../static/js/modules/busi/customer/consignee.js"></script>
</body>
</html>