<!DOCTYPE html>
<html>
<head>
<title>发票登记</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../../static/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="../../../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../../../static/css/fieldsetstyle.css">
<link rel="stylesheet" href="../../../../static/plugins/laydate/theme/default/laydate.css"></script>

<script src="../../../../static/libs/jquery.min.js"></script>
<script src="../../../../static/plugins/layer/layer.js"></script>
<script src="../../../../static/plugins/laydate/laydate.js"></script>
<script src="../../../../static/libs/bootstrap.min.js"></script>
<script src="../../../../static/libs/bootstrapValidator.min.js"></script>
<script src="../../../../static/libs/vue.min.js"></script>
<script src="../../../../static/libs/validator.min.js"></script>
<script src="../../../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../../../static/js/common.js"></script>
<script src="../../../../static/libs/jquery-migrate-1.1.0.js"></script>
<script src="../../../../static/plugins/jquery-autocomplete/jquery.autocomplete.js"></script>
<script src="../../../../static/libs/jQuery.print.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" >
                        <label class="control-label col-sm-1-1">产品名称</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="productName" name="productName" v-model="q.productName">
                        </div>
                        
                        <label class="control-label col-sm-1-1" >产品类别</label>
                        <div class="col-sm-3">
							<select class="form-control" v-model="q.productType">
								<option value="">全部</option>
								<option v-for="item in productTypes" v-bind:value="item.code">
									{{ item.name }}</option>
							</select>
						</div>
						 <a class="btn btn-info" @click="query" style="margin-right: 20px;"><i class="fa fa-search"></i>查询</a>
						  <a class="btn btn-info" @click="reset" style="margin-right: 20px;"><i class="fa fa-refresh"></i>重置</a>
                    </div>
                    
                </form>
            </div>
        </div> 
		<div class="panel panel-default">
			<div class="panel-heading">产品列表</div>
	        <div class="panel-body">
			    <table id="jqGrid"></table>
			    <div id="jqGridPager"></div>
			</div>
		</div>
    </div>
	</div>
</div>
<script src="../../../../static/js/modules/busi/order/selectProduct.js"></script>
</body>
</html>