<!DOCTYPE html>
<html>
<head>
<title>定时任务</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../static/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="../../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../static/css/fieldsetstyle.css"> 
<link rel="stylesheet" href="../../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../../static/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../../static/css/test/style.css" >
   
<script src="../../../static/libs/jquery.min.js"></script>
<script src="../../../static/plugins/layer/layer.js"></script>
<script src="../../../static/libs/bootstrap.min.js"></script>
<script src="../../../static/libs/bootstrapValidator.min.js"></script>
<script src="../../../static/libs/vue.min.js"></script>
<script src="../../../static/libs/bootstrapValidator.min.js"></script>
<script src="../../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../../static/plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../../static/js/common.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal" >
	                <div class="row" style="margin-top: 20px;margin-bottom: 20px;">
	                	<div class="col-md-3">
							<div class="input-group">
							<div class="input-group-btn">
							        <label  class="btn btn-white">用户名</label>
							    </div>
							
							    <input type="text" class="form-control"  v-model="q.beanName" @keyup.enter="query" placeholder="bean名称">
							</div>                            
						</div>
						<div class="col-md-3">
							<div class="col-xs-5"><a class="btn btn-info" @click="query" ><i class="fa fa-search"></i>查询</a></div>
							<div class="col-xs-5"><a class="btn btn-info" @click="reset" ><i class="fa fa-refresh"></i>重置</a></div>
						</div>
              		 </div>
                </form>
			</div>
        </div> 
 			<div style=" margin-bottom: 20px;">
				<a v-if="hasPermission('sys:schedule:save')" class="btn btn-info" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
				<a v-if="hasPermission('sys:schedule:update')" class="btn btn-info" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
				<a v-if="hasPermission('sys:schedule:delete')" class="btn btn-info" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
				<a v-if="hasPermission('sys:schedule:pause')" class="btn btn-info" @click="pause"><i class="fa fa-pause"></i>&nbsp;暂停</a>
				<a v-if="hasPermission('sys:schedule:resume')" class="btn btn-info" @click="resume"><i class="fa fa-play"></i>&nbsp;恢复</a>
				<a v-if="hasPermission('sys:schedule:run')" class="btn btn-info" @click="runOnce"><i class="fa fa-arrow-circle-right"></i>&nbsp;立即执行</a>
				<a v-if="hasPermission('sys:schedule:log')" class="btn btn-danger" @click="showLogs" style="float:right;" >日志列表</a>
			</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
</div>
	<div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" id="scheduleForm">
			<div class="form-group">
			   	<div class="col-sm-2 control-label">bean&nbsp;名&nbsp;称</div>
			   	<div class="col-sm-5">
			      <input maxlength="200" type="text" class="form-control" v-model="schedule.beanName" placeholder="spring bean名称，如：testTask"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">方 法 名 称</div>
			   	<div class="col-sm-5">
			      <input maxlength="200" type="text" class="form-control" v-model="schedule.methodName" placeholder="方法名称"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">参&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;数</div>
			   	<div class="col-sm-5">
			      <input maxlength="200" type="text" class="form-control" v-model="schedule.params" placeholder="参数"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">cron表达式</div>
			   	<div class="col-sm-5">
			      <input maxlength="200" type="text" class="form-control" v-model="schedule.cronExpression" placeholder="如：0 0 12 * * ?"/>
			    </div>
			</div>
			<div class="form-group">
			   	<div class="col-sm-2 control-label">备&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;注</div>
			   	<div class="col-sm-5">
			      <input maxlength="200" type="text" class="form-control" v-model="schedule.remark" placeholder="备注"/>
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>

<script src="../../../static/js/modules/job/schedule.js"></script>
</body>
</html>