<!DOCTYPE html>
<html>
<head>
<title>发票单位登记</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../../static/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="../../../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../../../static/css/fieldsetstyle.css">
<link rel="stylesheet" href="../../../../static/plugins/laydate/theme/default/laydate.css"></script>

<script src="../../../../static/libs/jquery.min.js"></script>
<script src="../../../../static/plugins/layer/layer.js"></script>
<script src="../../../../static/plugins/laydate/laydate.js"></script>
<script src="../../../../static/libs/bootstrap.min.js"></script>
<script src="../../../../static/libs/bootstrapValidator.min.js"></script>
<script src="../../../../static/libs/vue.min.js"></script>
<script src="../../../../static/libs/validator.min.js"></script>
<script src="../../../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../../../static/js/common.js"></script>
<script src="../../../../static/libs/jquery-migrate-1.1.0.js"></script>
<script src="../../../../static/plugins/jquery-autocomplete/jquery.autocomplete.js"></script>
<script src="../../../../static/libs/jQuery.print.js"></script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal">
                    <div class="form-group" >
                        <label class="control-label col-sm-1-1">开票单位名称</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" id="billCompany" name="billCompany" v-model="q.billCompany">
                        </div>
                         <div class="col-sm-3">
                              <a class="btn btn-info" @click="query" style="margin-right: 20px;"><i class="fa fa-search"></i>查询</a>
						      <a class="btn btn-info" @click="reset" style="margin-right: 20px;"><i class="fa fa-refresh"></i>重置</a>
                        </div>
                    </div>
                </form>
            </div>
        </div> 
		<div style=" margin-bottom: 20px;">
					<a  class="btn btn-info" style="margin-right: 20px;" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
					<a  class="btn btn-warning" style="margin-right: 20px;" @click="update"><i class="fa fa-pencil-square-o"></i>&nbsp;修改</a>
					<a  class="btn btn-danger" style="margin-right: 20px;" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">产品列表</div>
	        <div class="panel-body">
			    <table id="jqGrid"></table>
			    <div id="jqGridPager"></div>
			</div>
		</div>
    </div>
    
     <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" id="billCompanyForm"  style="margin-top: 20px;" onkeydown="if(event.keyCode==13){return false;}">
			<div class="form-group">
			   	<lable class="col-sm-1 control-label">开票单位</lable>
			   	<div class="col-sm-5">
			    	<input type="text" class="form-control" value="" id="billCompany" name="billCompany" v-model="company.billCompany" placeholder="开票单位"/> 
			    </div>
			</div>
			<div class="form-group">
			    <lable class="col-sm-1 control-label">客&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;户</lable>
			   	<div class="col-sm-5">
			    	<input type="text" class="form-control" value="" id="customers" name="customers" v-model="company.customers" placeholder="客户（多个用,分隔）"/> 
			    </div>
			</div>
			<div class="form-group">
				<div class="col-sm-3 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="保存"/>&nbsp;&nbsp;
				<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div> 
		</form>
	</div>
</div>
<script src="../../../../static/js/modules/busi/billCompany/billCompany.js"></script>
</body>
</html>