<!DOCTYPE html>
<html>
<head>
<title>审批</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../../static/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="../../../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../static/css/test/style.css" >
<link rel="stylesheet" href="../../../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">

<script src="../../../../static/libs/jquery.min.js"></script>
<script src="../../../../static/plugins/layer/layer.js"></script>
<script src="../../../../static/plugins/laydate/laydate.js"></script>
<script src="../../../../static/libs/bootstrap.min.js"></script>
<script src="../../../../static/libs/bootstrapValidator.min.js"></script>
<script src="../../../../static/libs/vue.min.js"></script>
<script src="../../../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../../../static/js/common.js"></script>


</head>
<body >
<div id="rrapp" v-cloak>
	<div class="panel panel-default">
		<div class="panel-heading">采购单明细列表</div>
		      <div class="panel-body">
		    <table id="jqGrid"></table>
		    <div id="jqGridPager"></div>
		</div>
	</div>
	<!-- <div class="panel panel-default"> -->
    	<div class="panel-body" style="margin-left: 50px;">
    		<form id="formSearch" class="form-horizontal" style="margin-bottom: 10px; margin-top: 10px;">
	    		<div class="row" >
	              	<div class="col-md-10" style="margin-top:-30px;">
						<div class="input-group">
					    	<div class="input-group-btn">
					        	<label  class="btn btn-white">审批结果:</label>
					    	</div>
					    	<select class="form-control" v-model="approval.status">
								<option value="1">审批通过</option>
								<option value="2">审批驳回</option>
							</select>
						</div>
					</div>
					<div class="col-md-10" style="margin-top:15px;">
						<div class="input-group">
						    <div class="input-group-btn">
						        <label  class="btn btn-white">审批意见:</label>
						    </div>
						    <textarea  class="form-control" rows="3" cols="3" id="approverMsg" name="approverMsg" v-model="approval.approverMsg"></textarea>
						</div>
					</div>
				</div>
			</form>
		</div>
</div>
</body>
<script type="text/javascript">
var applyId ;
var approveId ;
$(function () {
	debugger ;
	approveId = getUrlVar('id');
	applyId = getUrlVar('applyId');
    load();
});

function load(){
	debugger;
	$("#jqGrid").jqGrid({
    url: baseURL + 'busi/purchaseApplyDetail/list?applyId='+applyId,
    datatype: "json",
    mtype: 'POST',
    colModel: [	
		{ label: 'id', name: 'id', index: "id", width: 50, key: true, hidden:true },
		{ label: '部门', name: 'deptFullName',  sortable: false,width: 250 },
		{ label: '物料名称', name: 'materielName', index:'materielName',  width: 210 },
		{ label: '物料类型', name: 'materielTypeName', index:'materielType',  width: 125 },
		{ label: '物料小类', name: 'smallTypeName', index:'smallTypeName',  width: 150 },
		{ label: '规格', name: 'specifications',  sortable: false, width: 177 },
		{ label: '数量', name: 'quantity', sortable: false, width: 50 },
		{ label: '单位', name: 'unit', sortable: false, width: 70 },
		{ label: '厂家', name: 'manufactor',  sortable: false,  width: 210 },
		{ label: '备注', name: 'remark',  sortable: false,  width: 210 },
    ],
    viewrecords: true,
	shrinkToFit: false,
	height:'auto',
    rowNum: 10,
	rowList : [10,30,50,100],
    rownumbers: true, 
    autowidth:true,
    sortorder: 'desc', 
    sortname: 'createdate', 
    pager: "#jqGridPager",
    jsonReader : {
        root: "page.content",
        page: "page.currentPage",
        total: "page.pageCount",
        records: "page.totalCount"
    },
    prmNames : {
        page:"page", 
        rows:"limit", 
        order: "order"
    },
    gridComplete:function(){
    }
});}

var vm = new Vue({
	el:'#rrapp',
	data:{
		approval: {
			status:1,
			approverMsg:'',
		},
		title:null,
	},
	created: function() {
	},
});

var getApprovedCallback = function (){
	debugger;
	var data = {};
	data.approveId= approveId;
	data.status = vm.approval.status;
	data.approverMsg =vm.approval.approverMsg;
	
	return data;
	
}
</script>
</html>