<!DOCTYPE html>
<html>
<head>
<title>待办</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../../static/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="../../../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../static/css/test/style.css" >
<link rel="stylesheet" href="../../../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">

<script src="../../../../static/libs/jquery.min.js"></script>
<script src="../../../../static/plugins/layer/layer.js"></script>
<script src="../../../../static/plugins/laydate/laydate.js"></script>
<script src="../../../../static/libs/bootstrap.min.js"></script>
<script src="../../../../static/libs/vue.min.js"></script>
<script src="../../../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../../../static/js/common.js"></script>

</head>
<body >
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal" style="margin-bottom: 10px; margin-top: 10px;" >
	                <div class="row" >
	                	<div class="col-xs-4 col-md-4">
							<div class="input-group">
							    <div class="input-group-btn">
							        <label  class="btn btn-white">申请主题</label>
							    </div>
							    <input type="text" class="form-control" id="title" name="title" v-model="q.title">
							</div>                            
						</div>
	                	<div class="col-xs-4 col-md-4">
							<div class="input-group">
							    <div class="input-group-btn">
							        <label  class="btn btn-white">物料类型</label>
							    </div>
							    <select class="form-control" id="materielType" name="materielType" v-model="q.materielType">
									<option value="">--请选择--</option>
									<option v-for="item in materielTypeOptions" v-bind:value="item.code">
										{{ item.name }}
									</option>		
								</select>
							</div>                            
						</div>
						<div class="col-xs-4 col-md-3">
							<div class="col-xs-5"><a class="btn btn-info" @click="query" ><i class="fa fa-search"></i>查询</a></div>
							<div class="col-xs-5"><a class="btn btn-info" @click="reset" ><i class="fa fa-refresh"></i>重置</a></div>
						</div>
					</div>
                </form>
			</div>
			</div> 
			<!-- <div style=" margin-bottom: 20px;">
				<a v-if="hasPermission('busi:saleOrder:update')" class="btn btn-info" style="margin-right: 20px;" @click="update"><i class="fa fa-arrow-circle-right"></i>&nbsp;审批</a>
			</div> -->
			<div class="panel panel-default">
				<div class="panel-heading">待办列表</div>
		        <div class="panel-body">
				    <table id="jqGrid"></table>
				    <div id="jqGridPager"></div>
				</div>
			</div>
    </div>
    
   <!--  <div v-show="!showList" class="panel panel-default">
    	<input type="hidden" class="form-control" id="purchaseId" v-model="approval.purchaseId" name="purchaseId"/> 
	    <div class="panel panel-default">
			<form class="form-horizontal" id="purchaseApplyApprovalForm"  style="margin-top: 20px;" onkeydown="if(event.keyCode==13){return false;}">
				<div class="form-group">
				   	<lable class="col-sm-1 control-label">部&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;门:</lable>
				   	<div class="col-sm-5">
				    	<input type="text" class="form-control" id="deptName" v-model="approval.deptName" name="deptName" readonly/> 
				    </div>
				</div>
				<div class="form-group">
				   	<lable class="col-sm-1 control-label">所属物料:</lable>
				   	<div class="col-sm-5">
				    	<input type="text" class="form-control" id="materielTypeName" name="materielTypeName" v-model="approval.materielTypeName" readonly/> 
				    </div>
				</div>
				<div class="form-group">
				<lable class="col-sm-1 control-label">审批结果:</lable>
				   	<div class="col-sm-5">
				    	<select class="form-control" v-model="approval.status">
							<option value="2">审批通过</option>
							<option value="3">审批驳回</option>
						</select>
				    </div>
				</div>
				<div class="form-group">
				   	<lable class="col-sm-1 control-label">审批意见:</lable>
				   	<div class="col-sm-5">
				    	<textarea  class="form-control" rows="5" cols="3" id="approverMsg" name="approverMsg" v-model="approval.approverMsg"></textarea> 
				    </div>
				</div>
				<div class="form-group">
					<div class="col-sm-2 control-label"></div>
					<input type="button" class="btn btn-primary" @click="saveOrUpdate"value="保存" />&nbsp;&nbsp; 
					<input type="button" class="btn btn-warning" @click="reload" value="返回" />
				</div>
			</form>
		</div>
    </div> -->
  </div>  
<script src="../../../../static/js/modules/busi/approval/waitApproval.js"></script>
</body>
</html>