<!DOCTYPE html>
<html>
<head>
<title>管理员列表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../static/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="../../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">
<link rel="stylesheet" href="../../../static/plugins/ztree/css/metroStyle/metroStyle.css">
<link rel="stylesheet" href="../../../static/css/test/style.css" >
   
<script src="../../../static/libs/jquery.min.js"></script>
<script src="../../../static/plugins/layer/layer.js"></script>
<script src="../../../static/libs/bootstrap.min.js"></script>
<script src="../../../static/libs/bootstrapValidator.min.js"></script>
<script src="../../../static/libs/vue.min.js"></script>
<script src="../../../static/libs/bootstrapValidator.min.js"></script>
<script src="../../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../../static/js/common.js"></script>
</head>

<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body">
                <form id="formSearch" class="form-horizontal" >
	                <div class="col-sm-12" style="margin-top: 20px;margin-bottom: 20px;">
	                	<div class="col-sm-3">
							<div class="input-group">
							    <div class="input-group-btn">
							        <label  class="btn btn-white">用户名</label>
							    </div>
							    <input type="text" class="form-control"  v-model="q.username"  placeholder="用户名">
							</div>                            
						</div>
						<div class="col-sm-3">
								<div class="col-lg-12 col-sm-12">
									<a class="btn btn-info" @click="query" style="margin-right: 20px;"><i class="fa fa-search"></i>查询</a>
									<a class="btn btn-info" @click="reset" style="margin-right: 20px;"><i class="fa fa-refresh"></i>重置</a>
								</div>
							</div>
						</div>
              		 </div>
                </form>
			</div>
        </div> 
		<div class="panel panel-default">
			<div class="panel-heading">用户列表</div>
	        <div class="panel-body">
			    <table id="jqGrid"></table>
			    <div id="jqGridPager"></div>
			</div>
		</div>
    </div>
    <
</div>


<script src="../../../static/js/modules/activiti/selectUser.js"></script>
</body>
</html>