<!DOCTYPE html>
<html>
<head>
<title>中标公示</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<link rel="stylesheet" href="../../../../static/css/bootstrap.min.css">
<link rel="stylesheet" href="../../../../static/css/bootstrapValidator.min.css">
<link rel="stylesheet" href="../../../../static/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../static/css/fieldsetstyle.css"> 
<link rel="stylesheet" href="../../../../static/css/test/style.css" >
<link rel="stylesheet" href="../../../../static/plugins/jqgrid/ui.jqgrid-bootstrap.css">


<script src="../../../../static/libs/jquery.min.js"></script>
<script src="../../../../static/plugins/layer/layer.js"></script>
<script src="../../../../static/libs/bootstrap.min.js"></script>
<script src="../../../../static/libs/vue.min.js"></script>
<script src="../../../../static/libs/bootstrapValidator.min.js"></script>
<script src="../../../../static/plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../../../static/plugins/jqgrid/jquery.jqGrid.min.js"></script>
<!-- <script src="../../../../static/js/modules/busi/bid/IsAdmin.js"></script> -->
<script src="../../../../static/js/common.js"></script>


</head>
<body >
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="panel panel-default">
            <div class="panel-heading">查询条件</div>
            <div class="panel-body" >
                <form id="formSearch" class="form-horizontal" style="margin-bottom: 10px; margin-top: 10px;">
	                <div class="row">
	                	<div class="col-md-3">
							<div class="input-group">
							    <div class="input-group-btn">
							        <label  class="btn btn-white">采购单号</label>
							    </div>
							    <input type="text" class="form-control"   v-model="q.q_summaryCode">
							</div>                            
						</div>
						
						<div class="col-md-3">
							<div class="input-group">
							    <div class="input-group-btn">
							        <label  class="btn btn-white">大类</label>
							    </div>
							    <select class="form-control" id="materielType" name="materielType" v-model="q.q_materielType">
									<option value="">--请选择--</option>
									<option v-for="item in materielTypeOptions" v-bind:value="item.code">
										{{ item.name }}
									</option>		
								</select>
							</div>                            
						</div>
						
						<div class="col-md-3">
							<div class="input-group">
							    <div class="input-group-btn">
							        <label  class="btn btn-white">中标供应商</label>
							    </div>
							    <input type="text" class="form-control"   v-model="q.q_supplierName">
							</div>                            
						</div>
						<div class="col-md-3">
							<div class="col-xs-5"><a class="btn btn-info" @click="query" ><i class="fa fa-search"></i>查询</a></div>
							<div class="col-xs-5"><a class="btn btn-info" @click="reset" ><i class="fa fa-refresh"></i>重置</a></div>
						</div>
              		 </div>
                </form>
			</div>
        </div> 
		<div style=" margin-bottom: 20px;">
					<a v-if="hasPermission('busi:bid:send')" class="btn btn-info" style="margin-right: 20px;" @click="send"><i class="fa fa-plus"></i>&nbsp;中标结果公示</a>
					<a v-if="IsAdmin()" class="btn btn-info" style="margin-right: 20px;" @click="updateBid"><i class="fa fa-plus"></i>&nbsp;修改中标</a>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">中标评分</div>
	        <div class="panel-body">
			    <table id="jqGrid"></table>
			    <div id="jqGridPager"></div>
			</div>
		</div>
    </div>
    
</div>
<script src="../../../../static/js/modules/busi/bid/bid.js"></script>
</div>
</body>
</html>